@use 'react-md/dist/everything' as *;

.list {
  @include rmd-list-theme-update-var(
    item-horizontal-padding,
    $rmd-dialog-header-padding
  );

  padding-top: 0;
}
.container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  
    fieldset {
      margin: 1rem;
    }

}